<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:Tenant" value="valeriilyincbsinteractive.onmicrosoft.com" />
    <add key="ida:ClientId" value="6d9aa5b9-0642-4c95-bd4f-5e615690f7b2" />
    <add key="ida:RedirectUri" value="https://TodoListClient" />
    <add key="todo:TodoListResourceId" value="https://valeriilyincbsinteractive.onmicrosoft.com/cc818e62-9c2f-43c4-af1d-64b2bd11269b" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />
  </appSettings>
</configuration>